.wrap {
	height: 100vh;
	width: 100vw;
}

.logo {
	height: 80px;
	padding-top: 10px;
	text-align: center;
}

.left-column {
	background: #252A3A;
}

#nav .pure-menu-link {
    color: #fff;
    margin-left: 0.5em;
}

#nav .pure-menu-link:hover, #nav .pure-menu-link:focus {
    background: rgb(55, 60, 90);
}

.right-column {
	background: #FFFFFF;
}

.input {
	margin-left: 20px;
}

.output {
	margin-left: 20px;
}

p {
	font-family: cursive;
	font-size: 18px;
}