<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/pure.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<script type=text/javascript src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
	<title>SQ-Util</title>
</head>
<body>
	<div class="pure-g wrap">
	    <div class="pure-u-1-6 left-column">
	    	<div class="pure-img logo">
	    		<img src="/static/img/sq-logo.png">
	    	</div>
	    	<div class="pure-menu custom-restricted-width">
			    <ul class="pure-menu-list">
			        <li class="pure-menu-item pure-menu-selected"><a href="/" class="pure-menu-link">Usage</a></li>
			        <li class="pure-menu-item"><a href="/ssh" class="pure-menu-link">SSH</a></li>
			        <li class="pure-menu-item"><a href="/gunpg" class="pure-menu-link">GnuPG</a></li>
			    </ul>
			</div>
	    </div>
	    <div class="pure-u-5-6 right-column">
	    	{% block content %}
				<table class="pure-table">
				    <thead>
				        <tr>
				            <th>#</th>
				            <th>service</th>
				            <th>description</th>
				        </tr>
				    </thead>

				    <tbody>
				        <tr>
				        	<td>1</td>
				            <td>SSH</td>
				            <td>Generate SSH public and secret keys</td>
				        </tr>

				        <tr>
				        	<td>2</td>
				            <td>GunPG</td>
				            <td>ooo</td>
				        </tr>
		    
				    </tbody>
				</table>
	    	{% endblock content %}
	    </div>
	</div>
</body>
</html>