<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.png') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/pure.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<title>SQ-Util</title>
</head>
<body>
	<div id="layout" class="content pure-g">
		<div id="menu" class="pure-u-2-24">
	    	<a href="/">
	    		<img class="logo" src="/static/img/logo.png">
	    	</a>
			<div class="pure-menu">
			    <ul class="pure-menu-list">
			        <li class="pure-menu-item"><a href="/ssh" class="pure-menu-link">SSH</a></li>
			        <li class="pure-menu-item"><a href="#" class="pure-menu-link">GnuPG</a></li>
			    </ul>
			</div>			
		</div>
		<div id="main" class="pure-u-22-24">
			{% block content %}
			<h1>Overview</h1>
			<table class="pure-table">
			    <thead>
			        <tr>
			            <th>#</th>
			            <th>service</th>
			            <th>description</th>
			        </tr>
			    </thead>

			    <tbody>
			        <tr>
			        	<td>1</td>
			            <td>SSH</td>
			            <td>Generate SSH public and secret keys</td>
			        </tr>
			        <tr class="pure-table-odd">
			        	<td>2</td>
			            <td>GunPG</td>
			            <td>ooo</td>
			        </tr>		    
			    </tbody>
			</table>
			{% endblock content %}
			<div class="footer">
				<p>© 2017 Software Quality</p>
			</div>
		</div>
	</div>
</body>
</html>