{% extends "index.html" %}
{% block content %}
<div class="ssh">
    <div class="input">
        <h2>Input</h2>
        <form class="pure-form" action="/ssh/generate">
            <div class="pure-u-1 cmd">
                CMD : <input class="pure-input-1-3" type="text" placeholder="ssh-keygen" disabled>
            </div>
            
            <!-- <textarea class="pure-input-3-4" style="height: 150px" readonly>{{command}}</textarea> -->
            <input type="radio"> 
            <button type="submit" class="pure-button pure-button-primary">generate</button>
        </form> 
    </div>
    <div class="output">
        <h2>Output</h2>
        <form class="pure-form">
            <textarea class="pure-input-3-4" placeholder="Private Key" style="height: 150px" readonly>{{private_key}}</textarea>
            <textarea class="pure-input-3-4" placeholder="Public Key" style="height: 150px; margin-top: 10px" readonly>{{public_key}}</textarea>
        </form> 
    </div>
</div>
{% endblock content %}